<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kainos.groupsafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- Maps v2 Uses OpenGI so need this... -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- END -->

    <permission
        android:name="com.kainos.groupsafe.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.kainos.groupsafe.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- PERMISSIONS FOR PARSE PUSH NOTIFICATIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.kainos.groupsafe.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.kainos.groupsafe.permission.C2D_MESSAGE" />

<!--     <instrumentation -->
<!--         android:name="android.test.InstrumentationTestRunner" -->
<!--         android:targetPackage="com.kainos.groupsafe" /> -->
    <!-- To allow Testing on phone set android:debuggable="true" -->
    <application
        android:name="com.kainos.groupsafe.GroupSafeApplication"
        android:allowBackup="true"
        android:icon="@drawable/group_safe_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kainos.groupsafe.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kainos.groupsafe.HomeActivity" >
        </activity>
        <activity android:name="com.kainos.groupsafe.RegisterActivity" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.AddContactActivity"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.ContactDetailsActivity"
            android:label="@string/title_activity_contact_details" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.MapsViewActivity"
            android:label="@string/title_activity_maps_view" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.SelectGroupParticipantsActivity"
            android:label="@string/title_activity_select_group_participants" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.SetGroupGeoFenceActivity"
            android:label="@string/title_activity_set_group_geo_fence" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.InviteGroupParticipantsActivity"
            android:label="@string/title_activity_invite_group_participants" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.AddEmergencyContactActivity"
            android:label="@string/title_activity_add_emergency_contact" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.EmergencyContactDetailsActivity"
            android:label="@string/title_activity_emergency_contact_details" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.AcceptDeclineInvitationActivity"
            android:label="@string/title_activity_accept_decline_invitation" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.EditOrganizationActivity"
            android:label="@string/title_activity_edit_organization" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.GroupTerminationNotificationActivity"
            android:label="@string/title_activity_group_termination_notification" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.GroupGeoFenceMapActivity"
            android:label="@string/title_activity_group_geo_fence_map" >
        </activity>
        <activity
            android:name="com.kainos.groupsafe.ExitGeoFenceNotificationActivity"
            android:label="@string/title_activity_exit_geo_fence_notification" >
        </activity>

        <!-- THIS IS TO INTEGRATE GOOGLE PLAY (FOR MAPS) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />
<!--         <uses-library android:name="android.test.runner" /> -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyANaWyed1CqHBvLjeIDQSXB8-yUyWy0Qe4" />
        <!-- END -->


        <!-- THIS IS FOR PARSE PUSH NOTIFICATIONS -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- Parse Notification Receiver for: GROUP INVITATION -->
        <receiver
            android:name="com.kainos.groupsafe.NotificationResponseReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.kainos.groupsafe.AcceptDeclineInvitationActivity" />
                <action android:name="com.kainos.groupsafe.GroupTerminationNotificationActivity" />
                <action android:name="com.kainos.groupsafe.GroupGeoFenceMapActivity" />
                <action android:name="com.kainos.groupsafe.ExitGeoFenceNotificationActivity" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.kainos.groupsafe" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.kainos.groupsafe.ConnectionDetectorReceiver"
            android:label="ConnectionDetectorReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- END -->
        <activity
            android:name="com.kainos.groupsafe.NoInternetConnectionActivity"
            android:label="@string/title_activity_no_internet_connection" >
        </activity>
    </application>

</manifest>